# Python 관련 일반적인 설정
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist/
build/
.eggs/
*.bak

# Jupyter Notebook checkpoint files
.ipynb_checkpoints

# 환경 설정 파일
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm 관련 설정 파일
.idea/

# VSCode 관련 설정 파일
.vscode/

# macOS 관련 파일
.DS_Store

# Windows 관련 파일
Thumbs.db
ehthumbs.db

# 파이썬 캐시 디렉터리
.cache/
.cache/embeddings/*
.cache/files/*

# 로깅 파일
logs/
*.log

# 임시 파일
*.temp
*.tmp
